
html {
  /* background-color: #CFEFFC; */
  background-image:url('download.png');
  background-size: contain;
  color: #171717;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50em;
}

.box {
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 3px;
}

h1 {
  font-size: 5.0em;
  font-weight: 700;
  font-family: 'Averia Serif Libre', sans-serif;
  text-align: center;
}

p {
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #3C7599;
}

a:hover {
  color: #89C8F0
}


